.timer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 64px 12px 64px;
  grid-template-rows: 45px auto;
  grid-template-areas:
    "mm c ss"
    "lm . ls";
}

.timer.mobile {
  grid-template-rows: 30px auto;
}

.min {
  grid-area: mm;
}

.colon {
  grid-area: c;
}

.sec {
  grid-area: ss;
}

.legend_m {
  grid-area: lm;
}

.legend_s {
  grid-area: ls;
}

.min,
.colon,
.sec {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  color: var(--txt-timer-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .min,
.mobile .colon,
.mobile .sec {
  font-size: 40px;
}

.legend_s,
.legend_m {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: var(--txt-timer-3);
}

.mobile .legend_s,
.mobile .legend_m {
  font-weight: normal;
  font-size: 14px;
}