.btn {
  border: none;
  border-radius: 60px;
  background-color: var(--color-brand-accent);
  padding: 0 42px;
  min-width: 281px;
  width: fit-content;
  min-height: 76px;
  font-family: var(--font-ui);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--bg-accent);
  margin-bottom: 30px;
  animation: glowing 1.5s infinite;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover,
  &:focus-visible {
    animation: none;
  }
  &:disabled {
    animation: none;
    pointer-events: none;
    background-color: var(--txt-dim-3);
  }
}

@keyframes glowing {
  0% { opacity: 0.8; box-shadow: 0 0 3px var(--color-brand-accent); }
  50% { opacity: 1; box-shadow: 0 0 20px var(--color-brand-accent); }
  100% { opacity: 0.8; box-shadow: 0 0 3px var(--color-brand-accent); }
}