.card,
.card_l {
  border: 2px solid var(--brdr-main);
  border-radius: 20px;
  background-color: var(--bg-accent);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 18px 26px;
  cursor: pointer;
  transition: border-color, background-color;
  transition-duration: 0.3s;

  &.selected {
    border-color: var(--color-brand);
    background-color: rgba(1, 185, 197, 0.05);
  }
  &.mobile {
    align-items: flex-start;
    padding: 36px 24px 10px;
    min-height: 140px;
  }
}

.card_l {
  &.desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9.4%;
    padding: 20px 5.2% 0;

    .container {
      flex-direction: row;
      align-items: baseline;
      gap: 20px;
    }
    .title {
      font-size: 38px;
    }
    .description {
      text-align: left;
      margin-left: 35px;
    }
  }
  .title {
    color: var(--txt-main);
  }
  .description {
    align-self: center;
  }
}

.discount {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 5px;
  top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount_bg {
  position: absolute;
  color: var(--color-brand-accent);
}

.discount_text {
  position: absolute;
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 18px;
  color: var(--bg-accent);
}

.mobile {
  .discount {
    width: 50px;
    height: 50px;
    top: 4px;
    right: 9px;
  }
  .discount_bg {
    width: 50px;
    height: 50px;
  }
  .discount_text {
    font-size: 13px;
  }
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 43% auto;
    justify-items: start;
  }
  .title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .price_box {
    grid-row: span 2;
  }
  .price {
    font-size: 44px;
  }
  .old_price {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
    text-align: left;
  }
}

.container {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.title {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #687078;
  padding: 0;
  margin: 0 0 21px;
}

.price_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

.price {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #2d3242;
  padding: 0;
  margin: 0;
  overflow: visible;
  white-space: nowrap;
}

.old_price {
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  color: #95979f;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  align-self: flex-end;
  text-decoration: line-through;
}

.description {
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #2f4353;
  padding: 0;
  margin: 0;
}

.burn {
  .discount_bg {
    animation: burn-1 2s 1;
  }
  .discount_text,
  .old_price,
  .description,
  .title {
    animation: burn-2 2s 1;
  }
  .price {
    animation: burn-3 2s 1;
  }
}

@keyframes burn-1 {
  0% {
    color: #fd4d35;
    filter: drop-shadow(0 0 0 var(--color-brand-accent));
  }
  50% {
    color: #fd9235;
    filter: drop-shadow(0 0 10px var(--color-brand-accent));
  }
  100% {
    color: transparent;
    filter: drop-shadow(0 0 0 var(--color-brand-accent));
  }
}

@keyframes burn-2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes burn-3 {
  0% {
    color: var(--txt-main);
    filter: blur(0);
  }
  30% {
    color: rgb(255, 187, 97);
    filter: blur(1px);
  }
  100% {
    color: transparent;
    filter: blur(10px);
  }
}

.appear {
  * {
    animation: appear-1 2s 1;
  }
}

@keyframes appear-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
