.card,
.card_l {
  border: 2px solid var(--brdr-main);
  border-radius: 20px;
  background-color: var(--bg-accent);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 18px 26px;
  cursor: pointer;
  transition: border-color, background-color;
  transition-duration: 0.3s;
}

.card.selected,
.card_l.selected {
  border-color: var(--txt-timer-1);
  background-color: rgba(1, 185, 197, 0.05);
}

.card_l.desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9.4%;
  padding: 20px 5.3% 0;
}

.card.mobile,
.card_l.mobile {
  align-items: flex-start;
  padding: 36px 24px 10px;
}

.discount {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 5px;
  top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount_bg {
  position: absolute;
}

.discount_text {
  position: absolute;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--bg-accent);
}

.mobile .discount,
.mobile .discount_bg {
  width: 50px;
  height: 50px;
}

.mobile .discount {
  top: 4px;
  right: 9px;
}

.mobile .discount_text {
  font-size: 13px;
}

.container {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.card_l.desktop .container {
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
}

.mobile .container {
  width: 100%;
  display: grid;
  grid-template-columns: 43% auto;
  justify-items: start;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #687078;
  padding: 0;
  margin: 0 0 21px;
}

.card_l .title {
  color: var(--txt-main);
}

.card_l.desktop .title {
  font-size: 38px;
}

.mobile .title {
  font-size: 24px;
  margin-bottom: 16px;
}

.price_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card.mobile .price_box,
.card_l.mobile .price_box {
  grid-row: span 2;
}

.price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #2d3242;
  padding: 0;
  margin: 0;
}

.mobile .price {
  font-size: 44px;
}

.old_price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  color: #95979f;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  align-self: flex-end;
  text-decoration: line-through;
}

.mobile .old_price {
  font-size: 20px;
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #2f4353;
  padding: 0;
  margin: 0;
}

.card_l .description {
  align-self: center;
}

.card_l.desktop .description {
  text-align: left;
  margin-left: 35px;
}

.mobile .description {
  font-size: 14px;
  text-align: left;
}
