.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: 5rem;
  background-color: var(--bg-accent);
}

.anouncement {
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 100%;
  font-size: 30px;
  color: var(--txt-main);
  padding-bottom: 10px;
  margin: 10px 0 0;
}

.anouncement.mobile {
  font-size: 16px;
}