.card {
  border: 2px solid var(--brdr-main);
  border-radius: 20px;
  background-color: var(--bg-accent);
  height: 100%;
  padding: 22px 24px;
  position: relative;
  display: grid;
  grid-template-areas:
    "titl chck"
    "oldp chck"
    "newp newp";
  cursor: pointer;
  transition: border-color, background-color;
  transition-duration: 0.3s;
}

.card::after {
  content: '';
  position:absolute;
  height: 2px;
  width: 136px;
  background-color: var(--brdr-divider);
  top: 102px;
  left: calc((100% - 136px) / 2);
}

.card.mobile::after {
  display: none;
}

.card.selected {
  border-color: var(--color-brand);
  background-color: rgba(1, 185, 197, 0.05);
}

.card.mobile {
  width: 100%;
  padding: 18px 20px 16px;
  grid-template-areas:
  "titl chck"
  "newp oldp";
}

.discount {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -35%;
  right: -53px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .discount {
  width: 40px;
  height: 40px;
  top: -30%;
  right: -43px;
}

.discount_bg {
  color: var(--color-brand-accent);
  position: absolute;
  width: 50px;
  height: 50px;
}

.mobile .discount_bg {
  width: 40px;
  height: 40px;
}

.discount_text {
  position: absolute;
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 13px;
  color: var(--bg-accent);
}

/* .mobile .discount_text {
  font-size: 10px;
} */

.title {
  grid-area: titl;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 26px;
  color: var(--txt-main);
  padding: 0;
  margin: 0;
}

.mobile .title {
  font-size: 24px;
}

.price_box {
  grid-area: newp;
  display: flex;
  gap: 5px;
  align-self: end;
}

.price {
  position: relative;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #2d3242;
  padding: 0;
  margin: 0;
}

.mobile .price {
  font-size: 44px;
}

.old_price {
  grid-area: oldp;
  position: relative;
  font-family: var(--font-base);
  font-weight: bold;
  font-size: 20px;
  width: min-content;
  color: var(--txt-dim-4);
  padding: 0;
  margin: 0;
  height: min-content;
}

.mobile .old_price {
  justify-self: end;
  align-self: end;
  margin-bottom: 5px;
}

.old_price::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 1;
  background: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 2px),
      var(--color-brand-accent) 50%,
      rgba(0, 0, 0, 0) calc(50% + 2px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 2px),
      var(--color-brand-accent) 50%,
      rgba(0, 0, 0, 0) calc(50% + 2px),
      rgba(0, 0, 0, 0) 100%
    );
}

.radio {
  grid-area: chck;
  display: flex;
  justify-content: flex-end;
}

.input {
  display: none;
}

.custom_input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  border: 1.5px solid var(--brdr-input);
  transition: border-color 0.3s;
}

.selected .custom_input {
  border-color: var(--color-brand);
}

.custom_input:after {
  opacity: 0;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: var(--color-brand);
  transition: opacity 0.3s;
}

.selected .custom_input:after {
  opacity: 1;
}