@font-face {
  font-family: "PT Root UI";
  src: url("./assets/fonts/subset-PTRootUI-Bold.woff2") format("woff2"),
    url("./assets/fonts/subset-PTRootUI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Root UI";
  src: url("./assets/fonts/subset-PTRootUI-Medium.woff2") format("woff2"),
    url("./assets/fonts/subset-PTRootUI-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Root UI";
  src: url("./assets/fonts/subset-PTRootUI-Regular.woff2") format("woff2"),
    url("./assets/fonts/subset-PTRootUI-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url("./assets/fonts/BebasNeueCyrillic.woff2") format("woff2"),
    url("./assets/fonts/BebasNeueCyrillic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("./assets/fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/subset-Rubik-Bold.woff2") format("woff2"),
    url("./assets/fonts/subset-Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/subset-Rubik-Medium.woff2") format("woff2"),
    url("./assets/fonts/subset-Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "PT Root UI", sans-serif;
  --second-family: "Bebas Neue Cyrillic", sans-serif;
  --third-family: "Rubik", sans-serif;
  --font3: "Bebas Neue", sans-serif;

  --bg-main: #f5f7f7;
  --bg-accent: #ffffff;
  --bg-highlight: #fd4d35;

  --brdr-main: #d3d6dd;

  --txt-main: #2d3242;
  --txt-timer-1: #01b9c5;
  --txt-timer-3: #818798;
  --txt-link: #2d97f9;

  font-family: var(--font-family);
  font-weight: normal;

  background-color: var(--bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--third-family);
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: var(--txt-main);
}

a, a:visited, a:active {
  text-decoration: none;
  color: var(--txt-link);
  cursor: pointer;
}